@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-item svg {
    @apply scale-110 transition-all;
  }

  .btn-primary-light {
    @apply text-white justify-center bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-center;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.home.active > svg > path {
  fill: black !important;
}

.search.active > svg > path,
.search.active > svg > line {
  stroke-width: 3 !important;
}

.notifications.active > svg > path {
  fill: black !important;
}
